ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    padding: 1rem 2rem;
}

a {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: blue;
}