.body, html {
    text-align: center;
    /* background-color: cornflowerblue; */
    background-color: #c8d5ea
}

.App {
    text-align: center;
    /* background-color: cornflowerblue; */
    background-color: #c8d5ea
   
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}


.list {
    display: flex;
    justify-content: center;
  }
.container {
    text-align: center;
      
}

.ul, li {
    list-style-type: none;
    padding: 1rem 2rem;
  }

  a:hover {
    color: #2600ff;
}