.body, html {
  text-align: center;
  background-color: cornflowerblue;
}

.Navbar {
  height: 160px;
  width: 100%;
  margin: 0; 
  display: grid;
  place-items: center;
}

.App {
  text-align: center;
  
}

.header {
  height: 160px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}