<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
    <link rel='stylesheet' href="/info.css" />

  </head>
  <body>
    <div class='App'>
      <h1>Wordler!</h1>
      <nav class='linkContainer'>
        <a href='/'>Spel</a>
        <a href='/api/highscore'>Poänglista</a>
        <a href='/api/info'>Information</a>
      </nav>
      {{{body}}}
    </div>
  </body>
</html>